{
  "api": {
    "endpoints": {
      "openApi": "https://hub.clearly.app/api",
      "graphql": "https://hub.clearly.app/graphql"
    }
  },
  "cognito": {
    "userPoolId": "eu-central-1_1fM1Zd9mJ",
    "userPoolClientId": "SEE: README.MD",
    "loginWith": {
      "oauth": {
        "domain": "auth.clearly.app",
        "scopes": [
          "email",
          "openid",
          "profile"
        ],
        "redirectSignIn": [
          "http://localhost:5173/"
        ],
        "redirectSignOut": [
          "http://localhost:5173/"
        ],
        "responseType": "code"
      }
    }
  }
}
